/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */


body {
	background-image: url("images/background4.jpg");
}

.myname {
	text-decoration:none;
	text-transform:uppercase;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size:55px;
	float:left;
	width:100%;
	padding:23px 0 0 375px;
	background-color:rgba(196, 189, 205, 0.5);
	height:80px;
	
}

.contact {
	font-family: 'Montserrat', sans-serif;
	position:absolute;
	top:45px;
	right:120px;
	padding:5px;
	border:solid 1px;
	text-align:right;
	text-decoration:none;
	text-transform:uppercase;
	color:white;
	font-size:13px;
}

#circles {
	padding:135px 0 0 100px;
}

#circles2 {
	padding:20px 0 0 100px;
}

.c1{
	padding:0 20px 0 20px;
	float:left;
}
.c2{
	padding:0 20px 0 20px;
	float:left;
}
.c3{
	padding:0 20px 0 20px;
	float:left;
}
.c4{
	padding:0 20px 0 20px;
	float:left;
}
.c5{
	padding:0 20px 0 20px;
	float:left;
}
.c6{
	padding:0 20px 0 20px;
	float:left;
}
.c7{
	padding:0 20px 0 20px;
	float:left;
}
.c8{
	padding:0 20px 0 20px;
	float:left;
}


.pic {
	padding:28px 20px 20px 20px;
}
.pic2 {
	padding:28px 0px 20px 0px;
}
.pic3 {
	padding:28px 20px 20px 20px;
	float:left;
	width:;
}
.pic4 {
	padding:28px 20px 20px 0px;
	float:left;
	width:;
}

.title {
	font-size:20px;
	width:800px;
	padding:120px 0 10px 20px ;
	font-family: 'Roboto Slab', serif;
	font-weight:bold;
	text-transform:uppercase;
}
	
.text {
	width:600px;
	padding:5px 0 0 20px;
	font-family: 'Roboto Slab', serif;
	line-height:22px;
	font-size:16px;
}

.a1 {
	position:absolute;
	top:108px;
	left:400px;
}
.a2 {
	position:absolute;
	top:108px;
	left:440px;
}


.name {
	padding: 20px, 0 0 0;
	height:50px;
	width:300px;
	background-color:white;
	position:absolute;
	top:200px;
	left:20px;
}
.email {
	padding: 20px, 0 0 0;
	height:50px;
	width:300px;
	background-color:white;
	position:absolute;
	top:280px;
	left:20px;
}

.message {
	padding: 20px, 0 0 0;
	height:150px;
	width:300px;
	background-color:white;
	position:absolute;
	top:360px;
	left:20px;
}
.send {
	padding: 20px, 0 0 0;
	height:50px;
	width:300px;
	background-color:white;
	position:absolute;
	top:540px;
	left:20px;
}

img { max-width:100%;}


#page-wrap {
	width:3000px;
}
		   
#page-wrap img {
	float:left;
}

#topnav {
	position:fixed;
	width:100%;
}

.navwrapper{
	height:0px;
}

.circlehover {
	position:relative;
	float:left;
	
	
	
}


.circletext{
	position:absolute;
	top:42%;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	line-height:24px;
	background-color:rgba(196, 189, 205, 0.5);
}

.circletext{
	
}
.circlehover img:hover
