/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */


body {
	background-image: url ("images/background.jpg");
}

.myname {
	text-decoration:none;
	text-transform:uppercase;
	color:white;
	font-family:georgia;
	float:left;
	width:40%;
}

.contact {
	font-family:georgia;
	float:left;
	width:50%;
	text-align:right;
	text-decoration:none;
	text-transform:uppercase;
	color:white;
}

#circles {
	padding:135px 0 0 100px;
}

#circles2 {
	padding:20px 0 0 100px;
}

.c1 {
	padding: 0 40px 0 0;
}
.c2 {
	padding: 0 40px 0 0;
}
.c3 {
	padding: 0 40px 0 0;
}
.c4 {
	padding: 0 40px 0 0;
}
.c5 {
	padding: 0 40px 0 0;
}
.c6 {
	padding: 0 40px 0 0;
}
.c7 {
	padding: 0 40px 0 0;
}
.c8 {
	padding: 0 40px 0 0;
}

.pic {
	padding:28px 20px 20px 20px;
}
.pic2 {
	padding:28px 20px 20px 0px;
}

.title {
	font-size:25px;
	width:800px;
	padding:120px 0 0 20px ;
	font-weight:bold;
}
	
.text {
	width:600px;
	padding:20px 0 0 20px;
	font-family:helvetica;
	line-height:20px;
	font-size:16px;
}

.a1 {
	position:absolute;
	top:110px;
	left:510px;
}
.a2 {
	position:absolute;
	top:110px;
	left:558px;
}


.name {
	padding: 20px, 0 0 0;
	height:50px;
	width:300px;
	background-color:white;
	position:absolute;
	top:200px;
	left:20px;
}
.email {
	padding: 20px, 0 0 0;
	height:50px;
	width:300px;
	background-color:white;
	position:absolute;
	top:280px;
	left:20px;
}

.message {
	padding: 20px, 0 0 0;
	height:150px;
	width:300px;
	background-color:white;
	position:absolute;
	top:360px;
	left:20px;
}
.send {
	padding: 20px, 0 0 0;
	height:50px;
	width:300px;
	background-color:white;
	position:absolute;
	top:540px;
	left:20px;
}


