/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */

h1 {
	background-color: green;
	padding: 40px 0 20px 40px;
	float:left;
	width:50%;
	font-family:georgia;
	font-size:40px;
}

.in1 {
	background-color:blue;
	padding:40px 10px 20px 40px;
	float:left;
	width:20%;
	position:absolute;
	top:0;
	left:270px;
	line-height:23px;
	font-family:helvetica;
	font-size:15px;
}

.in2 {
	background-color:pink;
	padding:40px 10px 20px 40px;
	float:left;
	width:20%;
	position:absolute;
	top:0;
	right:450px;
	line-height:23px;
	font-family:helvetica;
	font-size:15px;
}

ol{
	background-color:yellow;
	padding:60px 0 0 60px;
	position: absolute;
	bottom:80px;
	left:0;

	list-style-type: decimal;
	
	width:20%;
}
h6 {
	background-color:teal;
	padding:0px 0px 0 40px;
	font-family:helvetica;
	width:20%;
}
.topleft {
	float:left;
	width:40%;
	position:relative;
	top: 0;
	left: 0;
}
a{
	position: absolute;
	bottom:20px;
	left:40px;
}
.rating {
	float:left;
	width:2%;
	position:absolute;
	top:180px;
	left:140px;
}
.oned {
	background-color:yellow;
	padding:0px 0 0 40px;
	position: absolute;
	bottom:80px;
	left:0;
	width:160px;
	top:270px;
	line-height:20px;
	font-family:helvetica;
}
.twod {
	background-color:green;
	top:270px;
	position: absolute;
	bottom:80px;
	left:220px;
	width:160px;
	line-height:20px;
	font-family:helvetica;
}
.threed {
	background-color:blue;
	top:270px;
	position: absolute;
	bottom:80px;
	left:400px;
	width:160px;
	line-height:20px;
	font-family:helvetica;
}
.fourd {
	background-color:pink;
	top:270px;
	position: absolute;
	bottom:80px;
	left:580px;
	width:160px;
	line-height:20px;
	font-family:helvetica;
}
.one {
	background-color:yellow;
	padding:0px 0 0 40px;
	position: absolute;
	bottom:80px;
	left:0;
	width:160px;
	top:245px;
	line-height:20px;
	font-family:helvetica;
	font-weight:bold;
}
img {
	position: absolute;
	bottom:60px;
	left:30px;
}